## 1. Import libraries and dataset

In [1]:
import pandas as pd  
import numpy as np  
from sklearn.model_selection import train_test_split  
from sklearn.linear_model import LinearRegression  
from sklearn.metrics import mean_squared_error, r2_score  
import seaborn as sns  
import matplotlib.pyplot as plt

In [2]:
# Set data path 
merged_data_path = "/home/anna/Desktop/Master_thesis/output_data/merged_data_otl"  

# Load merged dataset
merged_data = pd.read_csv(merged_data_path)

In [3]:
print(merged_data.isnull().sum())

patient_id                  0
case_id                     0
discharge_type              0
sex                         0
age                         0
length_of_stay_days         0
diagnosis                   0
diagnosis_category          0
ALAT                   159131
AP                     188554
ASAT                   157263
BASm#n                 198224
BIg                    188420
CA                     182914
CK                     184401
CR                      48613
CRP                     53041
EOSm#n                 198223
EPIGFR                  55259
Eryn                    27670
GGT                    164714
GL                      48207
H                       30119
H-Se                   206958
Hbn                     27669
Hkn                     27673
I                       29880
I-Se                   206958
IGm#n                  203471
INRiH                   48799
KA                      22359
L                       29877
L-Se                   206958
LACT                   214495
LYMm#n                 193669
Leukn                   27642
MCHCn                   27654
MCHn                    27655
MCVn                    27655
MONm#n                 198223
MPVn                    29618
NEUm#n                 193461
NRBCmn                  53228
Na                      28748
QUHD                    48826
Quicks                  76614
RDWn                    27878
THZn                    27653
TNThsn                 205187
UREA                   167381
tHb                    214858
dtype: int64

In [4]:
# List of columns to remove
cols_to_remove = ["patient_id", "case_id", "discharge_type", "diagnosis", "diagnosis_category"]  
df = merged_data.drop(columns=cols_to_remove)

In [5]:
# Select columns from the 4th column onward
lab_col = df.iloc[:, 3:]  # iloc uses 0-based indexing, so 3 is the 4th column

In [6]:
#Encode Categorical Variables
# Define a mapping for the 'sex' column
sex_mapping = {'m': 0, 'f': 1}

# Apply the mapping to convert 'sex' into numerical values
df['sex'] = df['sex'].map(sex_mapping)

# Check if there are any missing values (NaN) in the 'sex' column
print(df['sex'].isnull().sum())

0

Handle Missing Data

In [7]:
import pandas as pd
from missforest import MissForest

# Initialize MissForest Imputer
imputer = MissForest()

# Apply imputation to the dataset
df_imputed = imputer.fit_transform(df)

# Convert the result back to a DataFrame
df_imputed = pd.DataFrame(df_imputed, columns=df.columns)

# Check the results
display(df_imputed)

/home/anna/anaconda3/lib/python3.12/site-packages/missforest/missforest.py:333: UserWarning: Label encoding is no longer performed by default. Users will have to perform categorical features encoding by themselves.
  warnings.warn("Label encoding is no longer performed by default. "
100%|██████████| 5/5 [07:10<00:00, 86.07s/it]
/home/anna/anaconda3/lib/python3.12/site-packages/missforest/missforest.py:490: UserWarning: Label encoding is no longer performed by default. Users will have to perform categorical features encoding by themselves.
  warnings.warn("Label encoding is no longer performed by default. "
/home/anna/anaconda3/lib/python3.12/site-packages/missforest/missforest.py:494: UserWarning: In version 4.2.3, estimator fitting process is moved to `fit` method. `MissForest` will now imputes unseen missing values with fitted estimators with `transform` method. To retain the old behaviour, use `fit_transform` to fit the whole unseen data instead.
  warnings.warn(f"In version {VERSION}, estimator fitting process "
100%|██████████| 5/5 [00:26<00:00,  5.29s/it]

,sex,age,length_of_stay_days,ALAT,AP,ASAT,BASm#n,BIg,CA,CK,...,NEUm#n,NRBCmn,Na,QUHD,Quicks,RDWn,THZn,TNThsn,UREA,tHb
0,1,73,28,10.000000,88.736678,18.000000,0.031019,8.794215,2.217580,66.369055,...,5.979147,0.000000,138.000000,57.800000,13.200000,18.3,165.0,44.909855,4.565012,110.056619
1,1,73,34,19.000000,93.000000,22.000000,0.190000,8.000000,2.020000,96.819136,...,18.850000,0.000000,137.000000,77.000000,11.600000,18.8,93.0,18.386783,6.553296,112.194633
2,0,51,13,22.502303,85.939524,24.153469,0.028697,10.443552,2.225288,105.312230,...,6.035454,0.000000,136.000000,55.800000,14.000000,18.9,164.0,33.499381,6.520804,126.453695
3,0,50,12,38.000000,58.000000,51.948305,0.029299,23.338356,2.209058,347.000000,...,6.150642,0.100000,138.000000,66.000000,12.700000,14.4,131.0,367.000000,4.500000,147.476810
4,0,51,1,15.000000,65.000000,19.000000,0.040000,16.000000,2.390000,101.828632,...,7.150000,0.027396,136.000000,35.200000,19.200000,17.6,159.0,30.026159,5.200000,132.747718
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
268776,0,79,2,12.000000,89.539793,26.000000,0.028993,4.000000,2.110000,122.138744,...,5.858980,0.000000,133.000000,95.285450,10.300000,13.8,176.0,144.250954,13.227797,109.532985
268777,0,79,10,11.000000,111.445921,24.000000,0.029697,8.680038,2.200000,85.287230,...,5.844198,0.000000,139.000000,89.200000,11.000000,14.3,151.0,88.026604,15.491699,113.376960
268778,0,79,7,20.058995,80.008636,23.422611,0.029545,8.727132,2.248003,101.842622,...,5.987746,0.000000,142.754555,90.547853,11.341471,13.2,219.0,47.000800,6.773513,121.783665
268779,0,62,1,22.665733,78.387025,23.853393,0.030256,8.494829,2.307635,109.319052,...,5.925139,0.000000,141.000000,94.600000,10.900000,13.6,269.0,20.817439,5.715091,123.495562
268780,1,36,1,23.193661,81.115250,25.266150,0.030009,8.637466,2.287879,105.407493,...,6.091097,0.000000,138.000000,97.900000,11.300000,14.3,226.0,32.919721,5.601119,122.646386

In [8]:
df_imputed.describe()

,sex,age,length_of_stay_days,ALAT,AP,ASAT,BASm#n,BIg,CA,CK,...,NEUm#n,NRBCmn,Na,QUHD,Quicks,RDWn,THZn,TNThsn,UREA,tHb
count,268781.000000,268781.000000,268781.000000,268781.000000,268781.000000,268781.000000,268781.000000,268781.000000,268781.000000,268781.000000,...,268781.000000,268781.000000,268781.000000,268781.000000,268781.000000,268781.000000,268781.000000,268781.000000,268781.000000,268781.000000
mean,0.464720,62.616041,5.959424,34.631223,91.691628,41.496745,0.032590,10.976044,2.277105,206.670153,...,6.361277,0.059560,138.569643,88.222121,12.559886,13.935369,235.089062,122.469624,7.244997,122.828805
std,0.498755,18.677182,7.605165,136.898995,76.663669,206.890219,0.021184,18.206527,0.103178,1855.301423,...,2.541552,1.168246,4.306015,21.249187,8.136847,1.942125,90.773099,879.154754,4.516541,13.605792
min,0.000000,18.000000,0.000000,-221.680013,-74.310066,-281.192653,-0.008631,-4.400270,0.040000,-20697.733478,...,-7.709687,-5.500136,0.000000,1.000000,-1.305054,0.100000,0.000000,-2668.129847,-1.956216,4.000000
25%,0.000000,51.000000,2.000000,19.000000,74.566381,22.885772,0.029596,7.943794,2.243232,85.835795,...,5.929558,0.000000,137.000000,79.600000,10.900000,12.800000,184.049546,22.407824,5.300000,120.727167
50%,0.000000,66.000000,4.000000,22.430784,78.853468,24.711117,0.030044,8.706947,2.283397,104.011966,...,6.066353,0.000000,139.000000,90.700367,11.360334,13.400000,225.535340,37.997622,6.099996,123.020163
75%,1.000000,77.000000,7.000000,24.744373,85.000000,27.840405,0.030883,9.764069,2.313022,123.105307,...,6.130000,0.000000,141.000000,99.800000,12.000000,14.500000,272.000000,58.202920,7.407209,126.102644
max,1.000000,108.000000,524.000000,11844.000000,4283.000000,23743.000000,5.100000,781.000000,5.370000,589210.000000,...,93.060000,281.400000,199.000000,173.200000,608.000000,43.200000,3458.000000,120036.000000,87.000000,244.000000

In [9]:
# Replace negative values with 0 or small positive values

df_imputed[df_imputed < 0] = 0  # or you could use a small positive number like 0.0001

# Check the result
display(df_imputed.head())

,sex,age,length_of_stay_days,ALAT,AP,ASAT,BASm#n,BIg,CA,CK,...,NEUm#n,NRBCmn,Na,QUHD,Quicks,RDWn,THZn,TNThsn,UREA,tHb
0,1,73,28,10.000000,88.736678,18.000000,0.031019,8.794215,2.217580,66.369055,...,5.979147,0.000000,138.0,57.8,13.2,18.3,165.0,44.909855,4.565012,110.056619
1,1,73,34,19.000000,93.000000,22.000000,0.190000,8.000000,2.020000,96.819136,...,18.850000,0.000000,137.0,77.0,11.6,18.8,93.0,18.386783,6.553296,112.194633
2,0,51,13,22.502303,85.939524,24.153469,0.028697,10.443552,2.225288,105.312230,...,6.035454,0.000000,136.0,55.8,14.0,18.9,164.0,33.499381,6.520804,126.453695
3,0,50,12,38.000000,58.000000,51.948305,0.029299,23.338356,2.209058,347.000000,...,6.150642,0.100000,138.0,66.0,12.7,14.4,131.0,367.000000,4.500000,147.476810
4,0,51,1,15.000000,65.000000,19.000000,0.040000,16.000000,2.390000,101.828632,...,7.150000,0.027396,136.0,35.2,19.2,17.6,159.0,30.026159,5.200000,132.747718

Detect & Treat Outliers

In [10]:
import pandas as pd
import numpy as np
from sklearn.ensemble import IsolationForest
from scipy.stats.mstats import winsorize

def handle_outliers_with_isolation_forest(df, contamination=0.05):
    """
    Detects and handles outliers in all numeric columns using Isolation Forest and Winsorization.
    
    Parameters:
        df (pd.DataFrame): The input DataFrame with numeric features (already log-transformed if needed).
        contamination (float): Proportion of outliers to detect (default: 5%).
    
    Returns:
        pd.DataFrame: DataFrame with outliers handled using Winsorization.
    """
    df = df.copy()  # Work on a copy to avoid modifying the original
    
    numeric_columns = df.select_dtypes(include=[np.number]).columns  # Select only numeric columns

    for col in numeric_columns:
        if df[col].nunique() > 10:  # Skip columns with very few unique values (categorical-like)
            print(f"Processing column: {col}")

            # Step 1: Detect outliers using Isolation Forest
            iso_forest = IsolationForest(contamination=contamination, random_state=42)
            df['outlier'] = iso_forest.fit_predict(df[[col]])  # -1 = outlier, 1 = inlier

            # Step 2: Apply Winsorization instead of log transformation
            # Keeping extreme values within the 5% quantile range (modifiable)
            df[col] = winsorize(df[col], limits=[0.05, 0.05])

            # Drop the temporary outlier column
            df.drop(columns=['outlier'], inplace=True)
    
    return df

# Example usage
df_transformed = handle_outliers_with_isolation_forest(df_imputed)

Processing column: age
Processing column: length_of_stay_days
Processing column: ALAT
Processing column: AP
Processing column: ASAT
Processing column: BASm#n
Processing column: BIg
Processing column: CA
Processing column: CK
Processing column: CR
Processing column: CRP
Processing column: EOSm#n
Processing column: EPIGFR
Processing column: Eryn
Processing column: GGT
Processing column: GL
Processing column: H
Processing column: H-Se
Processing column: Hbn
Processing column: Hkn
Processing column: I
Processing column: I-Se
Processing column: IGm#n
Processing column: INRiH
Processing column: KA
Processing column: L
Processing column: L-Se
Processing column: LACT
Processing column: LYMm#n
Processing column: Leukn
Processing column: MCHCn
Processing column: MCHn
Processing column: MCVn
Processing column: MONm#n
Processing column: MPVn
Processing column: NEUm#n
Processing column: NRBCmn
Processing column: Na
Processing column: QUHD
Processing column: Quicks
Processing column: RDWn
Processing column: THZn
Processing column: TNThsn
Processing column: UREA
Processing column: tHb

In [11]:
print(df_transformed.isnull().sum())

sex                    0
age                    0
length_of_stay_days    0
ALAT                   0
AP                     0
ASAT                   0
BASm#n                 0
BIg                    0
CA                     0
CK                     0
CR                     0
CRP                    0
EOSm#n                 0
EPIGFR                 0
Eryn                   0
GGT                    0
GL                     0
H                      0
H-Se                   0
Hbn                    0
Hkn                    0
I                      0
I-Se                   0
IGm#n                  0
INRiH                  0
KA                     0
L                      0
L-Se                   0
LACT                   0
LYMm#n                 0
Leukn                  0
MCHCn                  0
MCHn                   0
MCVn                   0
MONm#n                 0
MPVn                   0
NEUm#n                 0
NRBCmn                 0
Na                     0
QUHD                   0
Quicks                 0
RDWn                   0
THZn                   0
TNThsn                 0
UREA                   0
tHb                    0
dtype: int64

In [12]:
df_transformed.describe()

,sex,age,length_of_stay_days,ALAT,AP,ASAT,BASm#n,BIg,CA,CK,...,NEUm#n,NRBCmn,Na,QUHD,Quicks,RDWn,THZn,TNThsn,UREA,tHb
count,268781.000000,268781.000000,268781.000000,268781.000000,268781.000000,268781.000000,268781.000000,268781.000000,268781.000000,268781.000000,...,268781.000000,268781.000000,268781.000000,268781.000000,268781.000000,268781.000000,268781.000000,268781.000000,268781.000000,268781.000000
mean,0.464720,62.694562,5.447517,25.146355,84.647392,29.274557,0.031907,9.349563,2.277050,133.255562,...,6.205771,0.013900,138.722498,88.477787,11.797065,13.829309,232.026303,57.814319,6.893932,122.915492
std,0.498755,17.914850,4.934688,12.373582,22.088006,14.634326,0.008637,3.676551,0.069754,107.489494,...,1.484171,0.038111,3.129388,18.398527,1.661923,1.502473,69.727039,66.806072,2.770416,10.649838
min,0.000000,28.000000,1.000000,11.000000,57.000000,16.000000,0.020000,4.096152,2.120000,36.000000,...,3.390000,0.000000,132.000000,45.900000,10.100000,12.000000,114.000000,5.043251,3.700000,97.145152
25%,0.000000,51.000000,2.000000,19.000000,74.566381,22.885772,0.029596,7.943794,2.243232,85.835795,...,5.929558,0.000000,137.000000,79.600000,10.900000,12.800000,184.049546,22.407824,5.300000,120.727167
50%,0.000000,66.000000,4.000000,22.430784,78.853468,24.711117,0.030044,8.706947,2.283397,104.011966,...,6.066353,0.000000,139.000000,90.700367,11.360334,13.400000,225.535340,37.997622,6.099996,123.020163
75%,1.000000,77.000000,7.000000,24.744373,85.000000,27.840405,0.030883,9.764069,2.313022,123.105307,...,6.130000,0.000000,141.000000,99.800000,12.000000,14.500000,272.000000,58.202920,7.407209,126.102644
max,1.000000,88.000000,19.000000,65.000000,154.000000,78.000000,0.060000,20.053417,2.410000,502.728095,...,10.700000,0.147138,144.000000,119.300000,17.120244,17.800000,386.000000,289.524923,15.000000,145.000000

In [13]:
from sklearn.model_selection import train_test_split
import statsmodels.api as sm
from sklearn.feature_selection import SelectKBest, f_regression

# Define features and target
X = df_transformed.drop(columns=['length_of_stay_days'])  # Features
y = df_transformed['length_of_stay_days']  # Target

high_vif_features = ['MCVn', 'MCHn', 'Hbn', 'Hkn', 'CR', 'QUHD', 'EPIGFR']
X_reduced = X.drop(columns=high_vif_features)

# # Apply feature selection (using f_regression for continuous data)
# selector = SelectKBest(f_regression, k=10)  # Select the top 10 features
# X_selected = selector.fit_transform(X, y)

# # Get the boolean mask of selected features
# selected_features_mask = selector.get_support()

# # Get the names of the selected features
# selected_features = X.columns[selected_features_mask]

# # Print the selected features
# print("Selected Features:", selected_features)

X_selected = X_reduced

# Split into train and test sets
X_train, X_test, y_train, y_test = train_test_split(X_selected, y, test_size=0.2, random_state=42)

# Fit the Gamma regression model
gamma_model = sm.GLM(y_train, sm.add_constant(X_train), family=sm.families.Gamma(link=sm.families.links.log()))
result = gamma_model.fit()

# Print model summary
print(result.summary())

/home/anna/anaconda3/lib/python3.12/site-packages/statsmodels/genmod/families/links.py:13: FutureWarning: The log link alias is deprecated. Use Log instead. The log link alias will be removed after the 0.15.0 release.
  warnings.warn(

                  Generalized Linear Model Regression Results
===============================================================================
Dep. Variable:     length_of_stay_days   No. Observations:               215024
Model:                             GLM   Df Residuals:                   214985
Model Family:                    Gamma   Df Model:                           38
Link Function:                     log   Scale:                         0.76826
Method:                           IRLS   Log-Likelihood:            -5.5993e+05
Date:                 Tue, 01 Apr 2025   Deviance:                   1.4667e+05
Time:                         19:13:12   Pearson chi2:                 1.65e+05
No. Iterations:                     22   Pseudo R-squ. (CS):             0.1084
Covariance Type:             nonrobust
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
const          3.8769      0.164     23.622      0.000       3.555       4.199
sex            0.0124      0.004      2.882      0.004       0.004       0.021
age            0.0040      0.000     31.171      0.000       0.004       0.004
ALAT           0.0024      0.000      8.223      0.000       0.002       0.003
AP            -0.0007      0.000     -5.018      0.000      -0.001      -0.000
ASAT           0.0003      0.000      0.919      0.358      -0.000       0.001
BASm#n         3.6542      0.279     13.101      0.000       3.108       4.201
BIg           -0.0026      0.001     -2.935      0.003      -0.004      -0.001
CA            -0.2556      0.033     -7.687      0.000      -0.321      -0.190
CK             0.0009   3.09e-05     29.454      0.000       0.001       0.001
CRP            0.0022    5.7e-05     38.067      0.000       0.002       0.002
EOSm#n         0.1209      0.064      1.904      0.057      -0.004       0.245
Eryn          -0.1350      0.004    -31.302      0.000      -0.143      -0.127
GGT            0.0010   7.76e-05     12.467      0.000       0.001       0.001
GL             0.0184      0.001     13.466      0.000       0.016       0.021
H             -0.0026      0.000    -10.418      0.000      -0.003      -0.002
H-Se          -0.0180      0.000    -38.204      0.000      -0.019      -0.017
I              0.0091      0.001     11.053      0.000       0.008       0.011
I-Se           0.0841      0.048      1.769      0.077      -0.009       0.177
IGm#n          1.5768      0.166      9.475      0.000       1.251       1.903
INRiH          0.2346      0.033      7.169      0.000       0.170       0.299
KA            -0.0165      0.005     -3.015      0.003      -0.027      -0.006
L             -0.0016      0.000     -4.099      0.000      -0.002      -0.001
L-Se          -0.0008      0.002     -0.512      0.609      -0.004       0.002
LACT           0.0047      0.007      0.692      0.489      -0.009       0.018
LYMm#n        -0.0239      0.008     -2.983      0.003      -0.040      -0.008
Leukn          0.0101      0.001     12.488      0.000       0.009       0.012
MCHCn         -0.0009      0.000     -3.927      0.000      -0.001      -0.000
MONm#n        -0.1257      0.020     -6.298      0.000      -0.165      -0.087
MPVn           0.0130      0.003      4.920      0.000       0.008       0.018
NEUm#n        -0.0313      0.002    -14.471      0.000      -0.036      -0.027
NRBCmn        -0.2023      0.056     -3.591      0.000      -0.313      -0.092
Na            -0.0108      0.001    -16.250      0.000      -0.012      -0.009
Quicks        -0.0156      0.002     -6.503      0.000      -0.020      -0.011
RDWn           0.0325      0.002     19.058      0.000       0.029       0.036
THZn           0.0004   3.41e-05     10.458      0.000       0.000       0.000
TNThsn        -0.0021   4.17e-05    -51.469      0.000      -0.002      -0.002
UREA           0.0093      0.001     10.561      0.000       0.008       0.011
tHb           -0.0021      0.000     -8.405      0.000      -0.003      -0.002
==============================================================================

 Evaluate Model Performance

In [14]:
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
import numpy as np

# Predict the values on the test set
y_pred = result.predict(sm.add_constant(X_test))

# Evaluate performance metrics
mae = mean_absolute_error(y_test, y_pred)
mse = mean_squared_error(y_test, y_pred)
rmse = np.sqrt(mse)
r2 = r2_score(y_test, y_pred)

# Print the evaluation metrics
print(f"Mean Absolute Error (MAE): {mae}")
print(f"Mean Squared Error (MSE): {mse}")
print(f"Root Mean Squared Error (RMSE): {rmse}")
print(f"R-squared (R2): {r2}")

Mean Absolute Error (MAE): 3.468169974501938
Mean Squared Error (MSE): 21.353923437611204
Root Mean Squared Error (RMSE): 4.62103056012522
R-squared (R2): 0.11955329900777834